<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Data</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%7CVarela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js"></script>
    <script src="../../../static/js/demo.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- pagination -->
    <link rel="stylesheet" type="text/css" href="{% static 'customer.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.4.0/css/dataTables.dateTime.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

    <script src="//code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script src="//cdn.datatables.net/datetime/1.4.0/js/dataTables.dateTime.min.js"></script>


    <div class="container">
        <div class="row">
            <div class="text-right">

            </div>
        </div>

    </div>
</head>

<body>
    <br>
    <br>
<br>
    <div class="text-right">  <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
								aria-expanded="false">
								Hello, {{ request.session.username }}
							</button>
        <a href="#addCustomerModal" class="btn btn-success" data-toggle="modal"><i class="material-icons"></i>
            <span>Add </span></a>
            <button type="submit" id="delete_btn" class="btn btn-danger">Delete</button>
            <a href="{% url 'logout' %}" class="btn btn-primary" data-toggle="modal"><i class="material-icons"></i>
                <span>Logout</span></a>
              
    </div>

<!-- 
    <table border="0" cellspacing="5" cellpadding="5">
        <tbody><tr>
            <td>Minimum date:</td>
            <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>Maximum date:</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
    </tbody></table> -->

    <br><br>
    <table class="table table-striped table-hover" id="table">
        <thead>
            <tr style="background-color:rgb(177, 208, 244);color:rgb(18, 16, 16);">
                <th>
                    <span class="custom-checkbox">
                        <input type="checkbox" id="selectAll">
                        <label for="selectAll"></label>
                    </span>
                </th>
                <th>ID</th>
                <th>Company Name</th>
                <th>Type of Client</th>
                <th>Name</th>
                <th>Contact Detail</th>
                <th>Mail ID</th>
                <th>Nature of Business</th>
                <th>Meeting Date</th>
                <th>Status of Client</th>
                <th>Next Meeting Date</th>
                <th>Package Sold</th>
                <th>Amount</th>
                <th>Activation Date</th>
                <th>Renewal Date</th>
                <!-- <th>Action</th> -->

            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr id="{{customer.id}}">
                    
                <td>
                    <input type="checkbox" name="change_id[]" id="delete_product" value="{{customer.id}}">

                
                </td>
                <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.id}}</a></td>

                <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.company_name }}</a></td>
                <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.type_of_client }}</a></td>
                <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.name }}</a></td>
                <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.contact_detail }}</a></td>
                <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.mail_id }}</a></td>
                <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.nature_of_business }}</a></td>
                <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.meeting_date }}</a></td>
                <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.status_of_client }}</a></td>
                <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.next_meeting_date }}</a></td>
                <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.package_sold }}</a></td>
                <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.amount }}</a></td>
                <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.activation_date }}</a></td>
                <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.renewal_date }}</a></td>
                <!-- <td>
                    <a href="#editCustomerModal-{{customer.id}}" class="edit" data-toggle="modal"><i
                            class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                </td>             -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
  <div id="addCustomerModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 700px; position: relative; right: 11%; bottom: 50%;">
        <form action="{% url 'add' %}" method="post">
          {% csrf_token %}
          <div class="modal-header">
            <h4 class="modal-title">Add Customer</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body" style="width: 330px; padding-left: 30px; display: inline-block;">
            <div class="form-group">
                <label>Company Name</label>
                <input name="company_name" type="text" class="form-control" required />
  
              </div>
              <div class="form-group">
                <label>Type of Client </label>
                <select name="type_of_client" type="text" class="form-control" aria-label="Default select example"
                  aria-invalid="false">
                  <option value="">Select Option</option>

                  <option value="New Client">New Client</option>
                  <option value="Existing Client">Existing Client</option>
                  <option value="Decline Client">Decline Client</option>
                </select>
              </div>
              <div class="form-group">
                <label>Name</label>
                <input name="name" type="text" class="form-control" required>
  
              
              </div>
              <div class="form-group">
                <label>Contact Detail</label>
                <input name="contact_detail" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Mail ID</label>
                <input name="mail_id" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="bday">Meeting Date</label>
                <input class="form-control" type="date" id="dt_start_date" name="meeting_date" required
                  pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
                <span class="validity"></span>
              </div>
              <div class="form-group">
                <label for="bday">Next Meeting Date</label>
                <input class="form-control" type="date" id="dt_end_date" name="next_meeting_date" required
                  pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
                <span class="validity"></span>
              </div>
          </div>


          <div class="modal-body" style="width: 330px; display: inline-block; position: relative; bottom: 70px;">
            <!--start of right half -->

              <div class="form-group">
  
                <label>Nature of Business</label>
                <select name="nature_of_business" type="text" class="form-control" aria-label="Default select example"
                aria-invalid="false">
                <option value="">Select Option</option>

                <option value="Manufacturer">Manufacturer</option>
                <option value="Supplier">supplier</option>
                <option value="Trader">Trader</option>
                <option value="Retail">Retail</option>
  
                </select>            
              </div>
              <div class="form-group">
                <label>Status of Client</label>
                <select name="status_of_client" type="text" class="form-control" aria-label="Default select example"
                aria-invalid="false">
                <option value="">Select Option</option>

                <option value="Prospect">Prospect</option>
                <option value="Hot Prospect">Hot Prospect</option>
                <option value="Not Interested">Not Interested</option>
  
                </select>    
              </div>
              <div class="form-group">
                <label>Package Sold</label>
                <input name="package_sold" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Amount</label>
                <input name="amount" type="text" class="form-control">
              </div>
                  <div class="form-group">
                <label for="bday">Activation Date</label>
                <input class="form-control" type="date" id="dt_start_date" name="activation_date" required
                  pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
                <span class="validity"></span>
              </div>
              <div class="form-group">
                <label for="bday">Renewal Date</label>
                <input class="form-control" type="date" id="dt_end_date" name="renewal_date" required
                  pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
                <span class="validity"></span>
              </div>
             
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="submit" class="btn btn-success" value="Add">
          </div>
        </form>
      </div>
    </div>
  </div>

    <!-- Edit Customer -->

    <!-- {% for customer in customers %}
    <div id="editCustomerModal-{{customer.id}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 700px; position: relative; right: 11%; bottom: 50%;">
                <form action="{% url 'update' customer.id %}" method="post">
                    {% csrf_token %}

                    <div class="modal-header">
                        <h4 class="modal-title">Edit</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      </div>
                      <div class="modal-body" style="width: 330px; padding-left: 30px; display: inline-block;">
                          <div class="form-group">
                            <label>ID</label>
                            <input name="id" value="{{customer.id}}" type="text" class="form-control">
                          </div>
                          <div class="form-group">
                            <label>Company Name</label>
                            <input name="company_name" type="text" value="{{customer.company_name}}" class="form-control" required />
                          </div>
                          <div class="form-group">
                            <label>Type of Client </label>
                            <select name="type_of_client" type="text" class="form-control" aria-label="Default select example"
                            aria-invalid="false">
                            <option value="">Select Option</option>
          
                            <option value="New Client">New Client</option>
                            <option value="Existing Client">Existing Client</option>
                            <option value="Decline Client">Decline Client</option>
                          </select>
                          </div>
                          <div class="form-group">
                            <label>Name</label>
                            <input name="name" type="text"  value="{{customer.name}}" class="form-control" required>

                          </div>
                          <div class="form-group">
                            <label>Contact Detail</label>
                            <input name="contact_detail" type="text" value="{{customer.contact_detail}}" class="form-control">
                          </div>
                          <div class="form-group">
                            <label>Mail ID</label>
                            <input name="mail_id" type="text" value="{{customer.mail_id}}" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="bday">Meeting Date</label>
                            <input class="form-control" type="date" id="meeting_date" value="{{ customer.meeting_date|date:'Y-m-d' }}" name="meeting_date" required>
                          </div>
                          
                          <div class="form-group">
                            <label for="bday">Next Meeting Date</label>
                            <input class="form-control" type="date" id="next_meeting_date" value="{{ customer.next_meeting_date|date:'Y-m-d' }}" name="next_meeting_date" required>
                            <span class="validity"></span>
                          </div>
                          
                      </div>
                      <div class="modal-body" style="width: 330px; display: inline-block; position: relative; bottom: 60px;">
                      

                           <div class="form-group">
                            <label>Nature of Business</label>
                            <select name="nature_of_business" type="text" class="form-control" aria-label="Default select example"
                            aria-invalid="false">
                            <option value="">Select Option</option>
            
                            <option value="Manufacturer">Manufacturer</option>
                            <option value="Supplier">supplier</option>
                            <option value="Trader">Trader</option>
                            <option value="Retail">Retail</option>
              
                            </select>            
                          </div>
                          <div class="form-group">
                            <label>Status of Client</label>
                            <select name="status_of_client" type="text" class="form-control" aria-label="Default select example"
                                          aria-invalid="false">
                              <option value="">Select Option</option>

                              <option value="Prospect">Prospect</option>
                              <option value="Hot Prospect">Hot Prospect</option>
                               <option value="Not Interested">Not Interested</option>
  
                             </select>    
                          </div>
                          <div class="form-group">
                            <label>Package Sold</label>
                            <input name="package_sold" value="{{customer.package_sold}}" type="text" class="form-control">
                          </div>
                          <div class="form-group">
                            <label>Amount</label>
                            <input name="amount" type="text" value="{{customer.amount}}" class="form-control">
                          </div>
                              <div class="form-group">
                            <label for="bday">Activation Date</label>
                            <input class="form-control" type="date" id="activation_date" value="{{ customer.activation_date|date:'Y-m-d' }}" name="activation_date" required>
                          
                          </div>
                          <div class="form-group">
                            <label for="bday">Renewal Date</label>
                            <input class="form-control" type="date" id="renewal_date"  value="{{ customer.renewal_date|date:'Y-m-d' }}"name="renewal_date" required>
                             
                          </div>
                        </div>
                      <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Update">

                      </div>
                    </form>
                </div>
            </div>
        </div>

    {% endfor %} -->
    

    <!-- Delete Customer -->
    <script>
        $(document).ready(function () {
          $('#delete_btn').click(function () {
            if (confirm('Are You Sure You Want to Delete User?')) {
              var id = [];
              var csrf = $('input[name=csrfmiddlewaretoken]').val();
              $(':checkbox:checked').each(function (i) {
                id[i] = $(this).val()
              })
              // console.log(id.length)
              if (id.length === 0) {
                alert("please select user Which u want to delete?")
              } else {
                console.log(id)
                $.ajax({
                  url: "{% url 'delete' %}",
                  method: "POST",
                  data: {
                    id,
                    csrfmiddlewaretoken: csrf
                  },
                  success: function (response) {
                    alert("success")
                    location.reload();
                    for (var i = 0; i < id.length; i++) {
                      var error = $(response).find('#error_text')
                      var error_class = $(error).attr('class')
                      $('#error').addClass(error_class)
                      $('#error').text(error.text())
                      $('tr#' + id[i] + '').fadeOut('slow');
                    }
                  },
                })
              }
            }
          })
        })
      </script>
      
      <script>
        $('#select-all').click(function (event) {
          if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
              this.checked = true;
            });
          } else {
            $(':checkbox').each(function () {
              this.checked = false;
            });
          }
        }); 
      </script>
<!-- Search Data -->

<script>
    var minDate, maxDate;
 
 // Custom filtering function which will search data in column four between two values
 $.fn.dataTable.ext.search.push(
     function( settings, data, dataIndex ) {
         var min = minDate.val();
         var max = maxDate.val();
         var date = new Date( data[7] );
  
         if (
             ( min === null && max === null ) ||
             ( min === null && date <= max ) ||
             ( min <= date   && max === null ) ||
             ( min <= date   && date <= max )
         ) {
             return true;
         }
         return false;
     }
 );
  
 $(document).ready(function() {
     // Create date inputs
     minDate = new DateTime($('#min'), {
         format: 'MMMM Do YYYY'
     });
     maxDate = new DateTime($('#max'), {
         format: 'MMMM Do YYYY'
     });
  
     // DataTables initialisation
     var table = $('#table').DataTable();
  
     // Refilter the table
     $('#min, #max').on('change', function () {
         table.draw();
     });
 });
</script>

</body>



</html>