
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body><br><br>
  <div>
    <div style="width: 700px; position: relative; right: 3%; left:7%; bottom: 50%; top:10px ;padding-left: 15px;">
      <form action="{% url 'update' customer.id %}" method="post">
        {% csrf_token %}

        <div>
          <h3 style="color:brown; ">Edit :</h3>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
        </div>
        <div class="row g-3" style="width: 330px; padding-left: 30px; display: inline-block;">
          <div class="col-lg-12">
            <label>ID</label>
            <input name="id" value="{{customer.id}}" type="text" class="form-control">
          </div>
          <div class="col-lg-12">
            <label>Company Name</label>
            <input name="company_name" type="text" value="{{customer.company_name}}" class="form-control" required />
          </div>
          <div class="col-lg-12">
            <label>Type of Client </label>
            <!-- <input name="type_of_client" type="text" value="{{customer.type_of_client}}" class="form-control" required> -->
            <select name="type_of_client" type="text" class="form-control" aria-label="Default select example"
              aria-invalid="false">
              <option >{{customer.type_of_client}}</option>

              <option value="New Client">New Client</option>
              <option value="Existing Client">Existing Client</option>
              <option value="Decline Client">Decline Client</option>
              <option value="PO Recieved">PO Recieved</option>

            </select>
          </div>
          <div class="col-lg-12">
            <label>Name</label>
            <input name="name" type="text" value="{{customer.name}}" class="form-control" required>

          </div>
          <div class="col-lg-12">
            <label>Contact Detail</label>
            <input name="contact_detail" type="text" value="{{customer.contact_detail}}" class="form-control">
          </div>
          <div class="col-lg-12">
            <label>Mail ID</label>
            <input name="mail_id" type="text" value="{{customer.mail_id}}" class="form-control">
          </div>
          <div class="col-lg-12">
            <label for="bday">Meeting Date</label>
            <input class="form-control" type="date" id="meeting_date" value="{{ customer.meeting_date|date:'Y-m-d' }}"
              name="meeting_date" required>
          </div>

         
        </div>
  
  <div class="row g-3" style="width: 330px; display: inline-block; position: relative; bottom: 90px; top:0px">
    <div class="col-lg-12">
      <label for="bday">Next Meeting Date</label>
      <input class="form-control" type="date" id="next_meeting_date"
        value="{{ customer.next_meeting_date|date:'Y-m-d' }}" name="next_meeting_date" required>
      <span class="validity"></span>
    </div>


    <div class="col-lg-12">
      <label>Branch Name</label>
      <select name="branch_name"  type="text"   class="form-control" aria-label="Default select example"
      aria-invalid="false">
      
      <option value="">{{customer.branch_list}}</option>
      
          {% for i in branches %}
          <option value="{{i.branch_name}}"> {{i.branch_name}}</option>
          {% endfor %}
      </select>
    </div>
    <div class="col-lg-12">
      <label>Manager Name</label>
            <select name="manager_name" type="text" value="{{i.manager_name}}" class="form-control" aria-label="Default select example"
            aria-invalid="false">
            <option value="">{{customer.manager_name}}</option>
        
                {% for i in rm1 %}
                <option value="{{i.manager_name}}"> {{i.manager_name}}</option>
                {% endfor %}
            </select>
    </div>
    <div class="col-lg-12">
      <label>Executive  Name</label>
            <select name="ex_name"  type="text" value="{{i.ex_name}}" class="form-control" aria-label="Default select example"
            aria-invalid="false">
            <option value="">{{customer.ex_name}}</option>
        
                {% for i in executives %}
                <option value="{{i.ex_name}}"> {{i.ex_name}}</option>
                {% endfor %}
            </select>
          
    </div>
    <div class="col-lg-12">
      <label>Amount</label>
      <input name="amount" type="text" value="{{customer.amount}}" class="form-control">
    </div>
    <div class="col-lg-12">
      <label for="bday">Activation Date</label>
      <input class="form-control" type="date" id="activation_date"
        value="{{ customer.activation_date|date:'Y-m-d' }}" name="activation_date" required>

    </div>
    <div class="col-lg-12">
      <label for="bday">Renewal Date</label>
      <input class="form-control" type="date" id="renewal_date" value="{{ customer.renewal_date|date:'Y-m-d' }}"
        name="renewal_date" required>

    </div>
  </div>
  <br><br>
  <div style="margin-left: 27px;">
    <!-- <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"> -->
    <a href="{% url 'customer_list' %}" class="btn btn-secondary" data-toggle="modal" >
      <span>Cancel</span></a>
    <input style="margin-left: 13px;"     type="submit" class="btn btn-info" value="Update">
    <!-- <button> <a href="{% url 'update' customer.id %}"> Update</a> </button> -->

  </div>
</form>
</div>
</div>
<br><br><br>

  <div style="position: relative; bottom:800px; left: 400px;">
    
    <div class="col-md-4" style="display: block; margin-left: 500px; top:170px; position: relative; ">
      <a href="{% url 'customer_list' %}" class="btn btn-primary" data-toggle="modal" style=" margin-left: 400px; "><i class="material-icons"></i>
        <span>Back to List </span></a><br>
      <table  class="table table-striped" border="1" style="color:brown"><br>
        <button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal">Add Remark</button>
        <br> &nbsp; &nbsp;
    
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Date Time</th>
            <th>Remark</th>
          </tr>
        </thead>
        <tbody>
          {% for remark in remark %}
          <tr>
            <td>{{ remark.id }}</td>
            <td>{{ remark.user }}</td>
            <td>
              {{ remark.datetime|date:"Y-m-d" }} <!-- Display the date -->
              <!-- Format the date as "YYYY-MM-DD" -->
            </td>           
            <td>{{ remark.reason }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div> 

<div class="container">

 
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form action="{% url 'create_remark' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ customer.id }}">

            <!-- <label for="datetime">Date</label>
            <input class="form-control w-25" id="datetime" type="datetime-local" name="datetime"
            
              pattern="[0-9]{2}-[0-9]{2}-[0-9]{4} / [0-12]{2}:[0-60]{2}" required> -->
              <label for="datetime">Date</label>
              <!-- <input class="form-control w-25" id="datetime" type="datetime-local" name="datetime" required> -->
              
              

            <label for="reason">Remark:</label><br>
            <textarea name="reason" id="reason" rows="4" cols="40"></textarea><br><br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

</body>

</html>